/* step-28: Time to style your table. Start by resetting the box model. Create an html selector and give it a box-sizing property set to border-box.*/
html{
    box-sizing: border-box;
}
/* step-29:Create a body selector and give it a font-family property set to sans-serif and a color set to #0a0a23. */
body{
    font-family: sans-serif;
    color: #0a0a23;
}
/* step-30: Before you get too far into your styling, you should make use of the sr-only class. You can use CSS to make elements with this class completely hidden from the visual page, but still be announced by screen readers.

The CSS you are about to write is a common set of properties used to ensure elements are completely hidden visually.

The span[class~="sr-only"] selector will select any span element whose class includes sr-only. Create that selector, and give it a border property set to 0.*/
span[class~="sr-only"]{
    border: 0;
}
