html {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #0a0a23;
}
  span[class~="sr-only"]{
    border: 0;
/* step-31:The CSS clip property is used to define the visible portions of an element. Set the span[class~="sr-only"] selector to have a clip property of rect(1px, 1px, 1px, 1px).
The clip-path property determines the shape the clip property should take. Set both the clip-path and -webkit-clip-path properties to the value of inset(50%), forming the clip-path into a rectangle within the element. */
    clip:rect(1px, 1px, 1px, 1px);
    -webkit-clip-path:inset(50%);
/* step-32: Now you need to size these elements down. Give your span[class~="sr-only"] selector a width and height property set to 1px.*/
    height: 1px;
    width:1px;
/* step-33: To prevent the text content from overflowing, give your span[class~="sr-only"] selector an overflow property set to hidden and a white-space property set to nowrap */
    overflow: hidden;
    white-space: nowrap;
/* step-34: Finally, you need to take these hidden elements out of the document flow. Give the span[class~="sr-only"] selector a position property set to absolute, a padding property set to 0, and a margin property set to -1px. This will ensure that not only are they no longer visible, but they are not even within the page view.*/
   
   position: absolute;
   padding: 0;
   margin: -1;
}
/* step-35: Time to style your table heading. Create an h1 selector. Give it a max-width property set to 37.25rem, a margin property set to 0 auto, and a padding property set to 1.5rem 1.25rem.
*/
  
h1{
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;
}

/* step-36: Target your flex container with an h1 .flex selector. Give it a display property set to flex to enable the flexbox layout. Then set the flex-direction property to column-reverse - this will display the nested elements from bottom to top. Finally, set the gap property to 1rem to create some space between the elements.*/
h1 .flex{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

/* step-37: The :first-of-type pseudo-selector is used to target the first element that matches the selector. Create an h1 .flex span:first-of-type selector to target the first span element in your .flex container. Remember that your span elements are reversed, visually, so this will appear to be the second element on the page.
Give your new selector a font-size property of 0.7em to make it look like a sub-heading.
*/
h1 .flex span:first-of-type{
    font-size: 0.7em;
}

/* step-38:  The :last-of-type pseudo-selector does the exact opposite - it targets the last element that matches the selector. Create an h1 .flex span:last-of-type selector to target the last span in your flex container, and give it a font-size property set to 1.2em to make it look like a header.*/
h1 .flex span:last-of-type{
    font-size: 1.2em;
}
/* step-39: You wrapped your table in a section element - now you can style that to give your table a border. Create a section selector, and give it a max-width property set to 40rem for responsive design. Set the margin property to 0 auto to center it, and set the border property to 2px solid #d0d0d5.*/
section{
    max-width: 40rem;
    margin: 0 auto;
    border:2px solid #d0d0d5;
}
/* step-40:The last part of your table heading is your years. Create a #years selector, and enable flexbox. Justify the content to the end of the flex direction, and make the element sticky. Fix it to the top of its container with top: 0. */
#years{
    display:flex;
    justify-content: flex-end;
    position: sticky;
    top:0;
/* step-41:Now apply some color to your #years. Make the text #fff and the background #0a0a23.*/
    color:#fff;
    background-color: #0a0a23;

}