*{
    box-sizing: border-box;
}
p{
    font-size: 18px;
}
#main{
    margin: 30px auto;
    width:100%;
    background-color: rgba(211, 211, 211, 0.925);
    border-radius: 5px;
  }
#tribute-info {
    font-size: 18px;
    line-height: 2rem;
    margin-left: 23%;
    width:50%;
}
.center{
    text-align: center;
    padding-top: 3%;
}
#title{
    text-align: center;
}
#img-div{
    margin: auto;
    position: relative;
    /* max-width: 100%;
    height: auto;
    position: absolute;
    margin-left: 40px; */
}
 #image{
    max-width: 100%;
    height: auto;
    /* position: absolute;
    margin-left: 40px; */
    
} 
img{
    display: block;
    /* border-radius: 3px;
    margin-top: 60px;
    border: 80px solid #fff;
    border-left: 160px solid #fff;
    border-right: 160px solid #fff; */
}
#img-caption{
    position: absolute;
    margin-top: 55%;
    left:18%;
}
.body-center h3{
    text-align: center;
    margin-top: 63%;
    position: relative;
}
.quote{
   text-align: center;
}
.quote h3{
    display: inline-block;
    
}
#tribute-link{
    padding-left: 5px;
    font-size: 22px;
}
