@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 2rem;
}
body{
    display: flex;
}

main{
   width: 80%;
}
.heading{
    font-size: 30px;
    font-weight: 700;
    margin: 25px;
    margin-left: 45px;
}
.sidebar{
    width: 320px; /*Define the width of the navigation box */
    padding: 0;
}
.side-heading{
    font-size: 28px;
    font-weight: 700;
    margin: 5px;
}
#navbar{
    width: 350px;
    text-align: left;
    /* padding: 13px 30px; */
    border:1px solid black;
    /* margin-left: 10px; */
    /* padding-left: 45px; */
    text-align: center;


}
.sidebar li{
    list-style: none;
    margin: -1px 0 0 0;
}
li, p, a{
    color: #4D4E53;
}
.sidebar a, .sidebar a:visited{
    display: block;
    border: black 1px solid;
    padding: 7px;
    
    /* padding-left: 45px; */
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-right: none;
    border-left: none;
}
.description{
    font-size: 18px;
    margin: 15px 55px 15px 65px;
    text-align: justify;
}
.list{
    text-align: justify;
    margin: 15px 100px 15px 100px;
}
.code{
    background-color: #f7f7f7;
    display: block;
    line-height: 2rem;
    padding: 15px;
    margin: 10px;
    margin-left: 70px;
    text-align: left;
    font-size: 14px;
    width:80%;
}
@media (max-width: 1199px) and (min-width: 769px) {
    #navbar{
          width: 100%;
        }
    #main-doc{
          width: 100%;
        }
    }
    