body {
    background-color: rgb(184, 132, 46);
  }
  
  #back-wall {
    background-color: #8B4513;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #offwhite-character {
    width: 300px;
    height: 550px;
    background-color: GhostWhite;
    position: absolute;
    top: 20%;
    left: 17.5%;
  }
  
  #white-hat {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120px 140px 180px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: GhostWhite;
    border-left-color: transparent;
    position: absolute;
    top: -140px;
    left: 0;
  }
  
  #black-mask {
    width: 100%;
    height: 50px;
    background-color: rgb(45, 31, 19);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #gray-instrument {
    width: 15%;
    height: 40%;
    background-color: rgb(167, 162, 117);
    position: absolute;
    top: 50px;
    left: 125px;
    z-index: 1;
  }
  
  .black-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 31, 19);
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 65%;
  }
  
  #tan-table {
    width: 450px;
    height: 140px;
    background-color: #D2691E;
    position: absolute;
    top: 275px;
    left: 15px;
    z-index: 1;
  }
  
  #black-character {
    width: 300px;
    height: 500px;
    background-color: rgb(45, 31, 19);
    position: absolute;
    top: 30%;
    left: 59%;
  }
  
  #black-hat {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 0 300px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgb(45, 31, 19);
    position: absolute;
    top: -150px;
    left: 0;
  }
  
  #gray-mask {
    width: 150px;
    height: 150px;
    background-color: rgb(167, 162, 117);
    position: absolute;
    top: -10px;
    left: 70px;
  }
  
  #white-paper {
    width: 400px;
    height: 100px;
    background-color: GhostWhite;
    position: absolute;
    top: 250px;
    left: -150px;
    z-index: 1;
  }
  
  .fa-music {
    display: inline-block;
    margin-top: 8%;
    margin-left: 13%;
  }
  /* step-51: Use a class selector to target your new blue elements. Set the background-color to #1E90FF.
 */
 .blue {
    background-color: #1E90FF;
}
/* step-52:Select the blue-left element with an id selector. Give it a width of 500px and a height of 300px. */
#blue-left{
    width: 500px;
    height: 300px;
/* step-53:Now set the position to absolute, the top to 20%, and the left to 20%. */
    position: absolute;
    top:20%;
    left:20%;
}
/* step-54:Next, target your blue-right element with an id selector. Set the width to 400px and the height to 300px. */
#blue-right{
    width: 400px;
    height: 300px;
/* step-55:Give the blue-right the correct positioning with position set to absolute, top set to 50%, and left set to 40%. */
   position: absolute;
   top:50%;
   left:40%;
}
/* step-62:Select your orange-character element with an id selector. Give it a width of 250px, a height of 550px, and a background-color of rgb(240, 78, 42). */
#orange-character{
    width: 250px;
    height: 550px;
    background-color: rgb(240, 78, 42);
/* step-63:Give the orange-character a position of absolute, a top of 25%, and a left of 40%. */
    position: absolute;
    top:25%;
    left:40%;
}

/* step-64:Style your black-round-hat element with an id selector. Set the width to 180px, the height to 150px, and the background-color to rgb(45, 31, 19) */
#black-round-hat{
    width: 180px;
    height: 150px;
    background-color: rgb(45, 31, 19);
/* step-65:The black-round-hat should probably be round. Give it a border-radius of 50% to fix this. */
    border-radius: 50%;
/* step-66: Move the black-round-hat into place with a position of absolute, a top of -100px, and a left of 5px. */
    position: absolute;
    top:-100px;
    left:5px;
/* step-67:Put the black-round-hat on the correct layer with a z-index of -1. */
    z-index: -1;
}

/* step-68:Use an id selector to create a rule for your eyes-div element. Set the width to 180px and the height to 50px. */
#eyes-div{
   width:180px;
   height: 50px;
/* step-69: Now move the eyes-div into position with position set to absolute, top set to -40px, and left set to 20px. */
   position: absolute;
   top:-40px;
   left:20px;
/* step-70:Give the eyes-div a z-index of 3.*/
   z-index: 3;
}
/* step-71: Target your triangles element with an id selector. Set the width to 250px and the height to 550px.*/
#triangles{
  width: 250px;
  height: 550px;
}
/* step-72:Create a class selector for your triangle elements. Set the width to 0 and the height to 0. */
.triangle{
  width: 0;
  height: 0;
/* style-73:Style the border of your triangle elements. Set the border-style to solid and the border-width to 42px 45px 45px 0. */
    border-style: solid;
    border-width: 42px 45px 45px 0;
/* step-74:Give your triangle elements the correct color. Set the border-top-color, border-bottom-color, and border-left-color to transparent. Set the border-right-color to Gold. */
border-top-color:transparent;
border-bottom-color:transparent;
border-left-color: transparent;
border-right-color: gold;
/* step-75:Adjust the layout of the triangle elements with a display of inline-block. */
display: inline-block;
}
/* step-76:Now use an id selector for guitar. Set the width to 100%, and the height to 100px. */
#guitar{
  width: 100%;
  height:100px;
/* step-77:In the same #guitar selector, set the position to absolute, the top to 120px, and the left to 0px. */
  position: absolute;
  top:120px;
  left:0px;
/* step-78:Give 
the #guitar rule a z-index of 3. */
  z-index: 3;
}

/* step-79:Now use a class selector to target guitar. This will style the two "halves" of your guitar. Set the width to 150px, the height to 120px, the background-color to Goldenrod, and the border-radius to 50%. */
.guitar{
  width: 150px;
  height: 120px;
  background-color: goldenrod;
  border-radius: 50%;
}
/* step-80:Select the id with value guitar-left, and set the position to absolute and the left to 0px. */
#guitar-left{
  position: absolute;
  left:0px;
}
/* step-81:Select the id with value guitar-right, and also set position to absolute. This time, set left to 100px. */
#guitar-right{
  position: absolute;
  left:100px;
}
/* step-82:Now you need to move the bar icons into place. Create a class selector for the fa-bars class. Set the display to block, the margin-top to 30%, and the margin-left to 40%. */
.fa-bars{
  display: block;
  margin-top: 30%;
  margin-left: 40%;
}
/* step-83:Use an id selector to create a guitar-neck rule. Set the width to 200px, the height to 30px, and the background-color to #D2691E. */
#guitar-neck{
  width: 200px;
  height: 30px;
  background-color: #D2691E;
/* step-84:Now move the guitar-neck with a position of absolute, a top value of 45px, and a left value of 200px. */
  position: absolute;
  top:45px;
  left:200px;
/* step-85:Give the guitar-neck a z-index of 3. */
  z-index: 3;
}
/* step-86:Time to style your eyes elements. Use a class selector to set the width to 35px, the height to 20px, the background-color to #8B4513, and the border-radius to 20px 50%. */
.eyes{
  width: 35px;
  height: 20px;
  background-color: #8B4513;
  border-radius: 20px 50%;
}
/* step-87:Target the class with value right and set the position to absolute, top to 15px, and right to 30px. */
.right{
  position: absolute;
  top:15px;
  right:30px;
}
/* step-88:For the class with value left, create the selector and set the position to absolute, the top to 15px, and the left to 30px. */
.left{
  position: absolute;
  top:15px;
  left:30px;
}
/* step-89:The FontAwesome icons are a little too small. Target all of them with a class selector for fas, and set the font-size to 30px. */
.fas{
   font-size: 30px;
}